{# templates/proj/json_links.html.twig #}
{% extends 'proj/proj_base.html.twig' %}

{% block title %}JSON Links{% endblock %}

{% block body %}
    <h1>JSON Data Links</h1>
    <ul>
        <li><a href="{{ path('api_renewable_energy_json') }}" target="_blank">Renewable Energy Percentage Data</a></li>
        <li><a href="{{ path('api_renewable_energy_twh') }}" target="_blank">Renewable Energy TWh Data</a></li>
        <li><a href="{{ path('api_energy_supply_gdp') }}" target="_blank">Energy Supply GDP Data</a></li>
        <li><a href="{{ path('api_average_temperature') }}" target="_blank">Average Temperature Data</a></li>
        <li><a href="{{ path('api_average_consumption') }}" target="_blank">Average Consumption Data</a></li>
        <li><a href="{{ path('api_electricity_price') }}" target="_blank">Electricity Price Data</a></li>
    </ul>
{% endblock %}
