<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/glider.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="proj-body">
    <header class="proj-header">
        <a href="{{ path('me') }}" class="back-link"><< TILLBAKA TILL REPORT <<</a>
        <nav class="proj-nav">
            <ul>
                <li><a href="{{ path('proj_home') }}">Hem</a></li>
                <li><a href="{{ path('proj_about') }}">Om</a></li>
                <li><a href="{{ path('proj_goal') }}">Globala målen</a></li>
            </ul>
        </nav>
    </header>
    <main class="proj-container">
      
            {% block body %}{% endblock %}
        
    </main>
    <footer class="proj-footer">
        {% block footer %}
            &copy; 2024 takl23
        {% endblock %}
    </footer>
</body>
</html>
