{% extends "base.html.twig" %}
{% block title %}Card game{% endblock %}

{% block body %}
<h1>Draw cards</h1>
<a href="{{ path('card_start') }}">&lt;&lt; Card game start</a>
<br>
<br>

<h2>Card hand</h2>
<div class="deck">
{% for card in cardsDrawn %}
   <div class="card {{ card.getColor() | lower }}">
        {{ card.representCard() }} <!-- Anropa representCard() för att visa kortet -->
    </div>
{% endfor %}
</div>

<hr>


<h2>Deck</h2>
<p>Cards left in deck: {{cardsLeftInt}} </p>
<div class="deck">
{% for card in cardsLeft %}
   <div class="card {{ card.getColor() | lower }}">
        {{ card.representCard() }} <!-- Anropa representCard() för att visa kortet -->
    </div>
{% endfor %}
</div>


{% endblock %}