{% extends "base.html.twig" %}
{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card Game</h1>

<p>This is a card game.</p>

{% for flashMessage in app.flashes('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<ul>
<li><a href="{{ path('deck') }}">Deck of cards sorted</a></li>
<li><a href="{{ path('deck_shuffle') }}">Deck of cards shuffled</a></li>
<li><a href="{{ path('deck_draw') }}">Draw one card from deck</a></li>
<li><a href="{{ path('draw_5_cards', {number:5}) }}">Draw five cards from deck</a></li>
<li><a href="{{ path('card_session_delete') }}">Reset deck</a></li>
</ul>


<h2>Cards in deck</h2>
<div class="deck">
{% for card in deck %}
   <div class="card {{ card.getColor() | lower }}">
        {{ card.representCard() }} <!-- Anropa representCard() för att visa kortet -->
    </div>
{% endfor %}
</div>

<h2>Klassbeskrivning</h2>
<p>Klassen Card representerar ett enskilt kort, DeckOfCards representerar en kortlek 
och CardHand representerar en samling av kort. CardGraphis är en förlängling av Card för att 
möjliggöra representation av kort på ett annat sätt.</p>

<h2>Relationen mellan klassern</h2>

<p>CardGraphis ärver från Card och kan använda alla publika delar från Card. 
De privata delarna är dock osynliga.</p>

<p>CardHand kan inte finnas utan användninga av klassen Card och därför 
 har vi en aggregationssrelation mellan dessa klasser. 
DeckOfCards å andra sidan skapar en kompostionsrelation med klassen Card där DeckOfCards har ett
 fast antal kort i sin kortlek</p>

<div >
    <picture>
        <img src="{{ asset('img/Diagram1.png') }}" alt="UML diagram och card game">
    </picture>

</div>

{% endblock %}