{% extends "base.html.twig" %}
{% block title %}Card Game{% endblock %}

{% block body %}

{{ include('flash.html.twig') }}

<h1>Player 1</h1>
  
        {% for card in player1Hand %}
            {{ card.representCard() }}
        {% endfor %}
  
<p> Score: {{ player1Score }}</p>



<form action="{{ path('draw21') }}" method="post">
    <button type="submit">Dra kort</button>
</form>

<form action="{{ path('stay21') }}" method="post">
    <button type="submit">Stanna</button>
</form>

<h1>Player 2:</h1>
    {% for card in player2Hand %}
        {{ card.representCard() }}
    {% endfor %}
    
<p> Score: {{ player2Score }}</p>


{% endblock %}