{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    

<div class="grid">
    <div class="content"> 
    <h1>API</h1>
   
 <div class="centerul">
    <ul>
    <li><a href="{{  path('luckynumber') }}">Get a random number</a></li>
    <li><a href="{{  path('quote') }}">Get a quote</a></li>
    </ul>
</div>

<h2>Card Game</h2>
<form method="post" action="">
    <p>
        <input type="submit" name="apidraw" value="Draw one card JSON"
            onClick="this.form.action='{{ path('apidraw') }}'"
        >
    </p>
</form>

<form method="post" action="{{ path('api_drawmany', {'number': 1} )}}">
    <p>
        <input type="number" name="number" min="1" max="10" value="1">
    </p>
    <p>
        <input type="submit" name="apidraw" value="Draw cards">
    </p>
</form>

<h2>Game 21</h2>
 <div class="centerul">
    <ul>
    <li><a href="{{  path('game21') }}">Check score for game 21</a></li>
    </ul>
</div>



</div>

    </div>

   
{% endblock %}