{# templates/library/update.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Update Book{% endblock %}

{% block body %}
    <h1>Update Book</h1>
    <div class="grid-two-columns-fix-row">
        <div class="main1">
            <div class="book-cover">
                <picture>
                    {% if book.getCover starts with 'http' %}
                        <img src="{{ book.getCover }}" alt="Cover for book {{ book.getTitle|e }}">
                    {% else %}
                        <img src="{{ asset(book.getCover) }}" onerror="this.onerror=null; this.src='{{ asset('img/nocover.jpg') }}';" alt="Cover for book {{ book.getTitle|e }}">
                    {% endif %}
                </picture>
            </div>
        </div>
        <div class="main2">
            <div class="book-form-container">
                <form action="{{ path('library_update_confirm', { id: book.id }) }}" method="POST" class="book-form">
                    <fieldset>
                        <legend>Update book details</legend>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" id="title" name="title" value="{{ book.title }}" required>
                        </div>
                        <div class="form-group">
                            <label for="author">Author:</label>
                            <input type="text" id="author" name="author" value="{{ book.author }}" required>
                        </div>
                        <div class="form-group">
                            <label for="isbn">ISBN:</label>
                            <input type="text" id="isbn" name="isbn" value="{{ book.isbn }}" required>
                        </div>
                        <div class="form-group">
                            <label for="cover">Cover:</label>
                            <input type="text" id="cover" name="cover" value="{{ book.cover }}">
                        </div>
                        <div>
                        <button type="submit" class="btn float">UPDATE</button>
                        <a href="{{ path('view_library') }}" class="btn">Cancel</a>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
