{# templates/library/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Library view{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="center">
<a href="{{ path('app_library') }}" class="btn">Add new book to library</a>
</div>
<br>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Cover</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in library %}
            <tr>
                <td class="bold">
                    <a href="{{ path('book_by_id', { id: book.getId }) }}">
                        {{ book.getId|e }}
                    </a>
                </td>
                <td>{{ book.getTitle|e }}</td>
                <td>{{ book.getISBN|e }}</td>
                <td>{{ book.getAuthor|e }}</td>
                <td>
                    <div class="cover">
                        <picture>
                            {% if book.getCover starts with 'http' %}
                                <img src="{{ book.getCover }}" alt="Cover for book {{ book.getTitle|e }}">
                            {% else %}
                                <img src="{{ asset(book.getCover) }}" onerror="this.onerror=null; this.src='{{ asset('img/nocover.jpg') }}';" alt="Cover for book {{ book.getTitle|e }}">
                            {% endif %}
                        </picture>
                    </div>
                </td>
                <td>
                    <a href="{{ path('library_update_by_id', { id: book.getId }) }}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a href="{{ path('library_delete_by_id', { id: book.getId }) }}"><i class="fas fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
